section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;g
    align-items: center;
}

p {
    font-size: 1.6rem;
    display: flex;
    margin: 0.5rem 0;
}

img {
    padding-right: 1rem;
}

.sectionTitle {
    margin: 4rem 0 0 0 ;
}

/*  MEDIA QUERIES  */

/* small mobiles */
@media (max-width: 480px) { 
    
/*titles and paragraphs*/
.sectionTitle {
    font-size: 1.4rem;
}

.sectionSubtitle {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

p > img {
    display: none;
}
}