.sectionSubtitle {
    text-align: center;
}

div.forms {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    background-color: var(--lorange);
    width: 40rem;
    margin: 2rem 20rem 2rem 30rem;
    padding: 2rem 2rem 2rem 3rem;
    border-radius: 0.5rem;
}

label {
    padding: 1rem 0 0 0;
    font-weight: bold;
}

input, select, option, textarea {
    font-size: 1.4rem;
    border:none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.btn {
    font-size: 1.5rem;
}

/*        MEDIA QUERIES    */

/* tablets and desktops */
@media (max-width: 1024px) {
    div.forms {
        font-size: 2rem;
        width: 35rem;
        margin: 2rem 17rem;
    }
    
    input, select, option, textarea {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
    }
}

/* medium mobiles and tablets */
@media (max-width: 768px) {
    div.forms {
        font-size: 2rem;
        width: 35rem;
        margin: 2rem auto;
        padding: 2rem 2rem 2rem 3rem;
    } 
}
    

/* small mobiles */
@media (max-width: 480px) { 
    div.forms {
        font-size: 1.6rem;
        width: 30rem;
        margin: 2rem auto;
    }
    
    input, select, option, textarea {
        font-size: 1rem;
    }
}

