* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

body {
    background-color:rgba(233, 233, 233, 0.397);
}

.container {
    width: 100rem;
    background-color: rgb(250, 232, 215) ;
    margin: auto;
}

/*Banner and menu*/
header {
    background-image: url(../images/bannerB.png);
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .logo {
    margin: 2rem 0 0 2rem;
    width: 25rem;
}

.welcomeText h1 {
    font-size: 3.4rem;
    padding: 0 0 0 3rem;
    margin-top: 3rem;
}

.welcomeText h2{
    font-size: 2.5rem;
    padding: 3rem 0 0 3rem;
    margin-bottom: 5rem;
}

.menu-items {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-items li#one {
    background-color: rgb(88, 166, 255);
}
.menu-items li#two {
    background-color: rgb(255, 0, 0);
}
.menu-items li#three {
    background-color: rgb(2, 165, 2);
}
.menu-items li#four {
    background-color: rgb(255, 238, 0);
}
.menu-items li#five {
    background-color: rgb(255, 196, 0);
}

.menu-items li {
    display: inline;
    padding: 1rem 5.3rem 0 5.2rem;
    border-radius: 1rem 1rem 0 0;
}

.menu-items li:hover {
    padding-top: 2rem;
    cursor: pointer;
}

a > li{
    font-size: 2rem;
    font-weight: bold; 
    color:#000;
}


/* buttons */
.btn {
    align-self: center;
    padding: 1rem;
    font-size: 1.2rem;
    border: solid 0.2rem #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: rgb(252, 164, 1);
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}

/*titles and paragraphs*/
.sectionTitle {
    margin: 4rem 0 2rem 0;
    font-size: 2.4rem;
    text-align: center;
}

.sectionSubtitle {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 1rem;
    padding: 0.5rem 1rem;
}

p {
    font-size: 1.6rem;
    padding: 0 2rem;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(252, 164, 1);
    font-size: 1rem;
    font-weight: bold;
}


/*        MEDIA QUERIES    */

/* tablets and desktops */
@media (max-width: 1024px) {
    .container {
        width: 70rem;
    }

    header {
        background-image: url(../images/bannerM.png);
    }
    
    header .logo {
        width: 18rem;
    }
    
    .welcomeText h1 {
        font-size: 2.4rem;
    }
    
    .welcomeText h2{
        font-size: 2rem;
        margin-bottom: 2.5rem;
        padding-top: 1rem;
    }
    
    .menu-items li {
        font-size: 1.6rem;
        padding: 1.5rem 3.2rem 0.3rem 3.2rem;
    }
    
    .menu-items li:hover {
        padding-top: 1.8rem;
    }
    
    a > li {
        font-size: 1.8rem;
    }
}

/* medium mobiles and tablets */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header {
        background-image: url(../images/bannerS.png);
    }
    
    header .logo {
        width: 18rem;
    }
    
    .welcomeText h1 {
        font-size: 2.2rem;
        margin-top: 2rem
    }
    
    .welcomeText h2{
        font-size: 1.8rem;
    }

    /* buttons */
    .btn {
        padding: 0.5rem 0.5rem;
        border: solid 0.2rem #fff;
    }

    /*titles and paragraphs*/
    .sectionTitle {
        font-size: 1.8rem;
    }

    .sectionSubtitle {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.4rem;
    }

    /* mobile menu*/
    .menu-items {
        display: none;
    }
    
    .menuToggle {
        width: 3rem;
        height: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        margin: 4rem 2rem;
        cursor: pointer;
        z-index: 1;  
    }

    #bar1, #bar2, #bar3 {
        width: 100%;
        height: 0.5rem;
        background-color: #000;
        margin: 0.3rem;
        border-radius: 2rem;
        transition: 0.3s ease;
    }

    .menuToggle.on {
        position: fixed;
        margin: 3rem 1.5rem;
    }

    .menuToggle.on #bar1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menuToggle.on #bar2 {
        opacity: 0;
    }

    .menuToggle.on #bar3 {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    /* menu list */

    .menuSection.on ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 25rem;
        height: 100vh;
        background-color: rgb(255, 196, 0);
        border-radius: 4rem 0 0 4rem;
    }


    .menuSection.on li#one, .menuSection.on li#two, .menuSection.on li#two , .menuSection.on li#three , .menuSection.on li#four, .menuSection.on li#five   {
        background-color: rgb(255, 196, 0);
    }

    .menuSection.on li {
        display: block;
        position: relative;
        border-radius: 0;
        margin: 1rem 0; 
        animation-duration: 1s;
        animation-name: slide;
    }
    
    @keyframes slide {
        from {
            margin-left: 10%;
        }
        to{
            margin-left: 0%;
        }     
    }

    .menu-items li:hover {
        color: rgba(0, 0, 0, 0.486);
    }
}

/* small mobiles */
@media (max-width: 480px) { 
    header {
        background-image: url(../images/bannerSs.png);
    }
    
    header .logo {
        width: 14rem;
    }
    
    .welcomeText h1 {
        font-size: 1.6rem;
        margin-top: 2rem
    }
    
    .welcomeText h2{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    /*titles and paragraphs*/
    .sectionTitle {
        font-size: 1.4rem;
    }

    .sectionSubtitle {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }
}