* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

html {
    --blue: rgb(88, 166, 255);
    --red: rgb(255, 0, 0); 
    --yellow: rgb(255, 238, 0);
    --green: rgb(2, 165, 2);
    --orange: rgb(252, 164, 1);
    --lorange:rgb(255, 196, 0);
    --bg: rgba(233, 233, 233, 0.397);
    --containerbg: rgb(250, 232, 215)
}

body {
    background-color:var(--bg);
}

.container {
    width: 100rem;
    background-color: var(--containerbg) ;
    margin: auto;
}

/*Banner and menu*/
header {
    background-image: url(/images/bannerB.png);
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .logo {
    margin: 2rem 0 0 2rem;
    width: 25rem;
}

.welcomeText h1 {
    font-size: 3.4rem;
    padding: 0 0 0 3rem;
    margin-top: 3rem;
}

.welcomeText h2{
    font-size: 2.5rem;
    padding: 3rem 0 0 3rem;
    margin-bottom: 5rem;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li.one {
    background-color: var(--blue);
}
nav li.two {
    background-color: var(--red);
}
nav li.three {
    background-color: var(--green);
}
nav li.four {
    background-color: var(--yellow);
}
nav li.five {
    background-color: var(--lorange);
    
}

nav li {
    display: inline;
    padding: 2rem 5.3rem 0.4rem 5.3rem;
    border-radius: 1rem 1rem 0 0;
}

nav li:hover {
    padding-top: 2.5rem;
    cursor: pointer;
}

li > a{
    font-size: 2rem;
    font-weight: bold; 
    color:#000;
}

li > a:hover {
    color: var(--containerbg);
}


/* buttons */
.btn {
    align-self: center;
    padding: 1rem;
    font-size: 1.2rem;
    border: solid 0.2rem #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: var(--orange);
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}

/*titles and paragraphs*/
.sectionTitle {
    margin: 4rem 0 2rem 0;
    font-size: 2.4rem;
    text-align: center;
}

.sectionSubtitle {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 1rem;
    padding: 0.5rem 1rem;
}

p {
    font-size: 1.6rem;
    padding: 0 2rem;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--orange);
    font-size: 1rem;
    font-weight: bold;
}


/*        MEDIA QUERIES    */

/* tablets and desktops */
@media (max-width: 1024px) {
    .container {
        width: 70rem;
    }

    header {
        background-image: url(/images/bannerM.png);
    }
    
    header .logo {
        width: 18rem;
    }
    
    .welcomeText h1 {
        font-size: 2.4rem;
    }
    
    .welcomeText h2{
        font-size: 2rem;
        margin-bottom: 2.5rem;
        padding-top: 1rem;
    }
    
    nav li {
        font-size: 0.8rem;
        padding: 1.5rem 3.2rem 0.3rem 3.2rem;
    }
    
    nav li:hover {
        padding-top: 1.8rem;
    }
    
    li > a {
        font-size: 1.6rem;
    }

}

/* medium mobiles and tablets */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header {
        background-image: url(/images/bannerS.png);
    }
    
    header .logo {
        width: 18rem;
    }
    
    .welcomeText h1 {
        font-size: 2.5rem;
        margin-top: 2rem
    }
    
    .welcomeText h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
/*
    /* mobile menu 

    .hamburguer {
        position: absolute;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        padding: 1rem 0;
        border: none;
        background-color: var(--orange);
        cursor: pointer;
    }

    .closeIcon {
        display: none;
    }

    .nav {
        position: fixed;
        transform: translateY(1%); /*obs mudar para  -100
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background-color: var(--lorange);
    }

    .nav li {
        display: block;
        padding: 2rem 0.3rem;
        }
        
    }

    /*.nav li.one, .nav li.two, .nav li.three, .nav li.four, .nav li.five {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0;

    }

    .nav > li > a {
        font-size: 1.4rem;
        font-weight: bold; 
        color:rgb(2, 165, 2)
    }
    

    .showMenu {
        transform: translateY(0);
    }
*/

    /* buttons */
    .btn {
        padding: 0.5rem 0.5rem;
        border: solid 0.2rem #fff;

    }

    /*titles and paragraphs*/
    .sectionTitle {
        font-size: 1.8rem;
    }

    .sectionSubtitle {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.4rem;
    }


/* small mobiles */
@media (max-width: 480px) { 
    header {
        background-image: url(/images/bannerSs.png);
    }
    
    header .logo {
        width: 14rem;
    }
    
    .welcomeText h1 {
        font-size: 1.6rem;
        margin-top: 2rem
    }
    
    .welcomeText h2{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    

    /* buttons */
    .btn {
        padding: 0.2rem 0.2rem;
        border: solid 0.2rem #fff;
        font-size: 0.5rem;
    }

    /*titles and paragraphs*/
    .sectionTitle {
        font-size: 1.4rem;
    }

    .sectionSubtitle {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }
}
