section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 3rem;
    padding: 0 2rem;
}

.sectionSubtitle {
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

#features {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.features p {
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding: 0 4rem;
    width: 20em;

}

.features img { 
    width: 16rem;
    height: 16rem;
    border-radius: 2rem;
}

#teachers {
    display: flex;
    flex-wrap: wrap;
}

.teachers img {
    border-radius: 50%;
    cursor: pointer;  
    margin: 1rem; 
}

figcaption {
    position: relative;
    font-weight: bold;
	top: -60%; 
    font-size: 1.4rem;
    opacity: 0;
    padding: 10% 0%;
    border-radius: 50%;
}

figcaption:hover {
    opacity: 1;
    cursor:pointer;
    background-color: rgba(250, 232, 215, 0.507);
    transition: transform 0.6s, opacity;
    z-index: 1;
}

section#contact{
    display: flex;
    flex-direction: row;
    background-color: var(--lorange);
    margin: 0;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

#contact h1 {
    margin: 1rem;
}


/*        MEDIA QUERIES    */

/* tablets and desktops */
@media (max-width: 1024px) {
   
    .features p {
        padding: 0 1rem 1rem 0;
    }

}
