section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 3rem 1rem;
    padding: 0 1rem;
}

.subjects ul {
    font-size: 2rem;
    margin: 0 0 1rem 1rem;
    padding: 0.5rem 1rem;
}

ul.elementaryI {
    
}

/*obs FAZER BOTÃO COM TITULOS DO H2 E QUANDO CLICAR, MUDAR O INNER HTML

ESTILIZAR MELHOR OS UL (COLOCAR COR, EFEITO AO APARECER (VER OS TRANSFORMS DO INDEX) ETC*/